body{
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 50px;
    border: 20px solid  rgb(189, 189, 189);
    margin-left: 20%;
    margin-right: 20%;
}
h3{
    text-transform: uppercase;
    color: rgb(177, 230, 243);
    letter-spacing: 2px;
}
h1{
    text-transform: uppercase;
}

#notlastdiv{
    border-bottom: 2px solid rgb(189, 189, 189);
}

.p1 {
    border-left: 5px solid rgb(189, 189, 189);
    padding-left: 10px;
}