/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/

*{
	border: grey 1px solid;
}

/*Descendant Selector*/

li a {
	color: red;
}

/*Adjacent Selector*/

h4 + ul {
	border: 2px solid blueviolet;
}

/*Attribute Selector*/

a[href="http://www.google.com"] {
	background: cyan;
}

/*nth of type*/

li:nth-of-type(2) {
	color: palevioletred;
}
